@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom palette (Tailwind config will map shades) */
body { background-color: #15151E; color: #FFFFFF; }

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #15151E; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #FF1E00; 
}
